extends ../layouts/layout

block content
  h2 Log In
  form(method="POST", action="/auth/login")
    input(type="hidden", name="_csrf", value=csrfToken)
    label(for="email") Email:
    input(type="email", name="email", required)
    br
    label(for="password") Password:
    input(type="password", name="password", required)
    br
    label(for="rememberMe")
      input(type="checkbox", name="rememberMe") Remember Me
    br
    button(type="submit") Log In
  p
    a(href="/auth/forgot") Forgot Password?
