extends ../layouts/layout

block content
  h2 Reset Password
  form(method="POST", action="/auth/reset")
    input(type="hidden", name="_csrf", value=csrfToken)
    input(type="hidden", name="token", value=token)
    label(for="password") New Password:
    input(type="password", name="password", required)
    br
    button(type="submit") Reset