extends ../layouts/layout

block content
  h2 Update Email Address
  form(method="POST", action="/auth/update-email")
    input(type="hidden", name="_csrf", value=csrfToken)
    label(for="newEmail") New Email:
    input(type="email", name="newEmail", required)
    br
    button(type="submit") Update Email
