extends ../layouts/layout

block content
  .container.mt-4
    h2 Update Username
    form(method="POST", action="/auth/update-username")
      input(type="hidden", name="_csrf", value=csrfToken)
      .mb-3
        label(for="newUsername") New Username:
        input.form-control(type="text", name="newUsername", required)
      button.btn.btn-primary(type="submit") Update Username
