extends ../layouts/layout

block content
  h2 Posts
  if posts.length
    ul
      each post in posts
        li
          a(href=`/post/${post.id}`) #{post.title} by #{post.author} (#{post.created_at.toLocaleDateString()})
  else
    p No posts available
